* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-and-hero {
	background-color: #1F2937;
	height: fit-content;
	padding: 0px 15px 120px 15px;
}

/*Styling Navbar Start*/

.nav {
	height: 100%;
	padding: 10px 0;
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 410px;
}

.nav ul {
	list-style-type: none;
	display: flex;
	gap: 12px;
}

.nav p {
	font-size: 24px;
	color: #F9FAF8;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav a {
	color: #E5E7EB;
	text-decoration: none;
	font-size: 18px;
}

@media only screen and (max-width: 935px) { 
	.nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px
	}

	.heromain {
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		background-color: #1F2937;
		margin-top: 10px;
		margin-right: 20px;
		margin-left: 20px;
	}
}


@media only screen and (max-width: 600px) {
	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px
	}

	.nav ul {
		margin-top: 5px;
		padding: 0.2em 1em;
		border-radius: 5px;
	}

	.nav p {
		font-weight: 800;
	}

	.nav li {
		background-color: brown;
		padding: 0.2em 0.8em;
		border-radius: 4px;
		font-weight: 500;
	}
  }

  @media only screen and (max-width: 400px) {
	.nav {
		gap: 8px
	}

	.nav ul {
		margin-top: 2px;
		padding: 0.1em 0.8em;
		border-radius: 2px;
	}

	.nav p {
		font-weight: 200;
	}

	.nav li {
		padding: 0.1em 0.6em;
		border-radius: 2px;
		font-weight: 200;
	}

	.nav a {
		color: #E5E7EB;
		text-decoration: none;
		font-size: 12px;
	}
  }

/*Styling Navbar End*/

/*Styling Hero Start*/
.heromain {
	height: fit-content;
	display: flex;
	justify-content: center;
	gap: 85px;
	background-color: #1F2937;
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
}

.hero {
	width: 380px;
	display: flex;
	flex-direction: column;
}

.hero h2 {
	color: #E5E7EB;
	font-size: 48px;
	line-height: 36px;
	margin-bottom: 5px;
}

.hero p {
	color: #E5E7EB;
	font-size: 20px;
}

.hero button {
	background-color: #3882F6;
	width: 100px;
	color: #E5E7EB;
	padding: 10px 18px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-top: 20px;
	font-weight: bolder;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero2 {
	width: 400px;
	height: 220px;
	background-color: rgb(112, 111, 111);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
}

.hero2 p {
	font-size: 20px;
	color: #E5E7EB;
}

@media only screen and (max-width: 935px) { 
	.heromain {
		gap: 15px;
		margin-top: 5px;
	}

	.hero {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.hero h2 {
		font-size: 48px;
	}

	.hero p {
		font-size: 20px;
		font-weight: bolder;
	}

	.hero button {
		margin-top: 10px;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.hero2 {
		width: 100%;
		height: 180px;
	}

	.hero2 p {
		font-size: 22px;
		font-weight: bolder;
	}

	.nav-and-hero {
		padding: 0px 15px 15px 15px;
	}
}

@media only screen and (max-width: 600px) {

	.heromain {
		gap: 15px;
		margin-top: 5px;
	}

	.hero {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.hero h2 {
		font-size: 36px;
	}

	.hero p {
		font-size: 16px;
		font-weight: bolder;
	}

	.hero button {
		margin-top: 10px;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.hero2 {
		width: 100%;
		height: 160;
	}

	.hero2 p {
		font-size: 22px;
		font-weight: bolder;
	}

	.nav-and-hero {
		padding: 0px 15px 15px 15px;
	}
  }

  @media only screen and (max-width: 400px) {
	.heromain {
		gap: 15px;
		margin-top: 3px;
	}

	.hero {
		width: 100%;
	}

	.hero h2 {
		font-size: 22px;
	}

	.hero p {
		font-size: 12px;
		font-weight: bolder;
	}

	.hero button {
		margin-top: 8px;
		font-size: 14px;
	}

	.hero2 {
		width: 100%;
		height: 130px;
	}

	.hero2 p {
		font-size: 12px;
	}

	.nav-and-hero {
		padding: 0px 10px 10px 10px;
	}
  }

/*Styling Hero End*/

/*Styling Information Start*/

.information {
	height: fit-content;
	background-color: #FFF;
	padding: 0px 10px 50px 10px;
}

.information h2 {
	text-align: center;
	padding: 30px;
	margin-top: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 36px;
	color: #1F2937;
}

.infodiv {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px;
}

.outerbox {
	width: 135px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.outerbox p {
	padding: 1px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.innerbox {
	width: 150px;
	height: 140px;
	border: 3px solid #3882F6;
	border-radius: 10px;
	margin-bottom: 5px;
}


@media only screen and (max-width: 935px) { 

	.information {
		padding-bottom: 20px;
	}
	.information h2 {
		padding: 5px;
		margin-top: 5px;
		font-size: 30px;
	}

	.infodiv {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	.outerbox {
		width: 110px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	
	.outerbox p {
		font-size: 10px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	.innerbox {
		width: 130px;
		height: 120px;
		border: 3px solid #3882F6;
		border-radius: 10px;
		margin-bottom: 2px;
	}

}

@media only screen and (max-width: 600px) {

	.information {
		padding-bottom: 20px;
	}
	.information h2 {
		padding: 3px;
		margin-top: 3px;
		font-size: 19px;
	}

	.infodiv {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	.outerbox {
		width: 110px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	
	.outerbox p {
		font-size: 8px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	.innerbox {
		width: 95px;
		height: 95px;
		border: 2px solid #3882F6;
		border-radius: 5px;
		margin-bottom: 2px;
	}
}

@media only screen and (max-width: 400px) {
	.information {
		padding-bottom: 10px;
	}
	.information h2 {
		padding: 2px;
		margin-top: 2px;
		font-size: 14px;
	}

	.infodiv {
		gap: 4px;
	}

	.outerbox {
		width: 80px;
	}
	
	.outerbox p {
		font-size: 5px;
	}

	.innerbox {
		width: 70px;
		height: 70px;
		border: 2px solid #3882F6;
		border-radius: 5px;
		margin-bottom: 1px;
	}
}

/*Styling Information End*/

/*Styling Quote Start*/

.quote {
	height: fit-content;
	background-color: #E5E7EB;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.quoteinside {
	width: 600px;
	margin: 20px;
}

.quoteinside p {
	font-size: 36px;
	font-style: italic;
	color: #1F2937;
}

.quoteinside h5 {
	float: right;
	font-weight: bolder;
	font-size: 22px;
}

@media only screen and (max-width: 935px) { 

	.quote {
		padding: 20px;
	}

	.quoteinside {
		width: 400px;
		margin: 10px;
	}
	
	.quoteinside p {
		font-size: 24px;
		font-style: italic;
		color: #1F2937;
	}
	
	.quoteinside h5 {
		float: right;
		font-weight: bolder;
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px) { 

	.quote {
		padding: 15px;
	}

	.quoteinside {
		width: 350px;
		margin: 7px;
	}
	
	.quoteinside p {
		font-size: 21px;
		font-style: italic;
		color: #1F2937;
	}
	
	.quoteinside h5 {
		float: right;
		font-weight: bolder;
		font-size: 10px;
	}
}

@media only screen and (max-width: 400px) {
	.quote {
		padding: 15px;
	}

	.quoteinside {
		width: 240px;
		margin: 3px;
	}
	
	.quoteinside p {
		font-size: 10px;
	}
	
	.quoteinside h5 {
		float: right;
		font-weight: bolder;
		font-size: 8px;
	}
}

/*Styling Quote End*/

/*Styling Signup Start*/

.signup {
	width: 100%;
	height: fit-content;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 0 60px 0;
}

.signupmain {
	width: 80%;
	height: 120px;
	background-color: #3882F6;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 10px;
}

.signupdiv h4 {
	color: #F9FAF8;
	font-size: 22px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signupdiv p {
	color: #E5E7EB;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.sigupdiv2 button {
	padding: 3px 22px;
	background: transparent;
	border: 2px solid #fff;
	outline: #fff;
	color: #F9FAF8;
	font-size: 14px;
	border-radius: 5px;
}

@media only screen and (max-width: 935px) { 
	.signupmain {
		height: 100px;
	}

	.signup {
		padding: 40px 0 40px 0;
	}

	.signupdiv h4 {
		font-size: 18px;
	}
	
	.signupdiv p {
		font-size: 12px;
	}
	
	.sigupdiv2 button {
		padding: 2px 18px;
		font-size: 10px;
	}
}

@media only screen and (max-width: 600px) { 
	.signupmain {
		height: 70px;
	}

	.signup {
		padding: 35px 0 35px 0;
	}

	.signupdiv h4 {
		font-size: 14px;
	}
	
	.signupdiv p {
		font-size: 9px;
	}
	
	.sigupdiv2 button {
		padding: 2px 14px;
		font-size: 8px;
	}
}

@media only screen and (max-width: 400px) {
	.signupmain {
		height: 40px;
	}

	.signup {
		padding: 20px 0 20px 0;
	}

	.signupdiv h4 {
		font-size: 9px;
	}
	
	.signupdiv p {
		font-size: 7px;
	}
	
	.sigupdiv2 button {
		padding: 4px 11px;
		font-size: 9px;
	}
}

/*Styling Signup End*/

/*Styling Footer Start*/

.footer {
	height: 90px;
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerdiv p {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: 400;
}

@media only screen and (max-width: 935px) { 
	.footer {
		height: 70px;
	}
	
	.footerdiv p {
		font-size: 18px;
		font-weight: 400;
	}
}

@media only screen and (max-width: 600px) { 
	.footer {
		height: 50px;
	}
	
	.footerdiv p {
		font-size: 14px;
		font-weight: 350;
	}
}

@media only screen and (max-width: 400px) {
	.footer {
		height: 30px;
	}
	
	.footerdiv p {
		font-size: 12px;
		font-weight: 250;
	}
	
}

/*Styling Footer End*/

